In [55]:
import pandas as pd

In [56]:
ruta_archivo = '../../data/google/info_estados_raw.csv.gz'

info = pd.read_csv(ruta_archivo)

In [62]:
info

                  Estado  Poblacion    PBI  Area_Kms  Ingreso_Medio
0                Alabama    4903185  49238      5242          49551
1                 Alaska     731158  77490   1723337          82263
2                Arizona    7278717  57191    295234          59700
3               Arkansas    3017804  48458    137732          49970
4             California   39512223  80680     42397          80440
5               Colorado    5758736  67914    269601          71233
6            Connecticut    3565287  78174     14357          85931
7               Delaware     973764  69860      6447          74666
8                Florida   21477737  59443    170312          59227
9                Georgia   10617423  58619     15391          58219
10                Hawaii    1415872  71977     28313          77076
11                 Idaho    1787065  51989    216443          56405
12              Illinois   12671821  70242    149995          70005
13               Indiana    6732219  57614     94326          60803
14                  Iowa    3155070  64957    145746          68719
15                Kansas    2913314  59938      2131          61554
16              Kentucky    4467673  54713    104656          54830
17             Louisiana    4648794  53146    135659          52413
18                 Maine    1344212  53602     91646          58924
19              Maryland    6045680  74971     32131          86878
20         Massachusetts    6892503  87764     27336          81862
21              Michigan   10045029  60796    250487          60336
22             Minnesota    5639632  68704    225163          73432
23           Mississippi    2976149  43489    125438          45439
24              Missouri    6137428  60540     18054          61810
25               Montana    1068778  51511    380831          58070
26              Nebraska    1934408  64045     20033          66947
27                Nevada    3155070  61592     28638          63276
28         New Hampshire    1359711  76109     24214          86032
29            New Jersey    8882190  85105     22591          88362
30            New Mexico    2096829  47421    314917          51890
31              New York   19453561  76593    141297          71897
32        North Carolina   10488084  58741    139391          58291
33          North Dakota     762062  62704    183107          67342
34                  Ohio   11689100  61454    116098          61369
35              Oklahoma    3956971  54667    181038          57522
36                Oregon    4217737  62609      2548          70282
37          Pennsylvania   12801989  63642    119283          62843
38          Rhode Island    1059361  72171      4001          77013
39        South Carolina    5148714  54220     82933          56765
40          South Dakota     884659  59200    199729          64423
41             Tennessee    6829174  56062    109151          57437
42                 Texas   28995881  63282    695662          63222
43                  Utah    3205958  65599    219882          76734
44               Vermont     623989  63012     24906          63577
45              Virginia    8535519  70033    110787          77219
46            Washington    7614893  79400    184661          82290
47         West Virginia    1792147  48645     62755          51192
48             Wisconsin    5822434  62387    169635          65338
49               Wyoming     578759  60787    253335          65003
50  District of Columbia     705749  86826       177          94218

In [58]:
nuevos_nombres = {
    'nombre_estado': 'Estado',
    ' poblacion': 'Poblacion',
    'PBI_pc': 'PBI',
    'area_kms': 'Area_Kms',
    'ingreso_medio': 'Ingreso_Medio',
}

info.rename(columns=nuevos_nombres, inplace=True)

In [59]:
info

                  Estado   Poblacion    PBI  Area_Kms  Ingreso_Medio
0                Alabama   4.903.185  49238      5242          49551
1                 Alaska     731.158  77490   1723337          82263
2                Arizona   7.278.717  57191    295234          59700
3               Arkansas   3.017.804  48458    137732          49970
4             California  39.512.223  80680     42397          80440
5               Colorado   5.758.736  67914    269601          71233
6            Connecticut   3.565.287  78174     14357          85931
7               Delaware     973.764  69860      6447          74666
8                Florida  21.477.737  59443    170312          59227
9                Georgia  10.617.423  58619     15391          58219
10                Hawaii   1.415.872  71977     28313          77076
11                 Idaho   1.787.065  51989    216443          56405
12              Illinois  12.671.821  70242    149995          70005
13               Indiana   6.732.219  57614     94326          60803
14                  Iowa   3.155.070  64957    145746          68719
15                Kansas   2.913.314  59938      2131          61554
16              Kentucky   4.467.673  54713    104656          54830
17             Louisiana   4.648.794  53146    135659          52413
18                 Maine   1.344.212  53602     91646          58924
19              Maryland   6.045.680  74971     32131          86878
20         Massachusetts   6.892.503  87764     27336          81862
21              Michigan  10.045.029  60796    250487          60336
22             Minnesota   5.639.632  68704    225163          73432
23           Mississippi   2.976.149  43489    125438          45439
24              Missouri   6.137.428  60540     18054          61810
25               Montana   1.068.778  51511    380831          58070
26              Nebraska   1.934.408  64045     20033          66947
27                Nevada   3.155.070  61592     28638          63276
28         New Hampshire   1.359.711  76109     24214          86032
29            New Jersey   8.882.190  85105     22591          88362
30            New Mexico   2.096.829  47421    314917          51890
31              New York  19.453.561  76593    141297          71897
32        North Carolina  10.488.084  58741    139391          58291
33          North Dakota     762.062  62704    183107          67342
34                  Ohio  11.689.100  61454    116098          61369
35              Oklahoma   3.956.971  54667    181038          57522
36                Oregon   4.217.737  62609      2548          70282
37          Pennsylvania  12.801.989  63642    119283          62843
38          Rhode Island   1.059.361  72171      4001          77013
39        South Carolina   5.148.714  54220     82933          56765
40          South Dakota     884.659  59200    199729          64423
41             Tennessee   6.829.174  56062    109151          57437
42                 Texas  28.995.881  63282    695662          63222
43                  Utah   3.205.958  65599    219882          76734
44               Vermont     623.989  63012     24906          63577
45              Virginia   8.535.519  70033    110787          77219
46            Washington   7.614.893  79400    184661          82290
47         West Virginia   1.792.147  48645     62755          51192
48             Wisconsin   5.822.434  62387    169635          65338
49               Wyoming     578.759  60787    253335          65003
50  District_of_Columbia     705.749  86826       177          94218

In [60]:
info['Poblacion'] = info['Poblacion'].str.replace('.','').astype(int)

In [61]:
info['Estado'].replace({'District_of_Columbia':'District of Columbia'},inplace=True)

/tmp/ipykernel_29026/448104134.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  info['Estado'].replace({'District_of_Columbia':'District of Columbia'},inplace=True)

In [63]:
info['Poblacion']

0      4903185
1       731158
2      7278717
3      3017804
4     39512223
5      5758736
6      3565287
7       973764
8     21477737
9     10617423
10     1415872
11     1787065
12    12671821
13     6732219
14     3155070
15     2913314
16     4467673
17     4648794
18     1344212
19     6045680
20     6892503
21    10045029
22     5639632
23     2976149
24     6137428
25     1068778
26     1934408
27     3155070
28     1359711
29     8882190
30     2096829
31    19453561
32    10488084
33      762062
34    11689100
35     3956971
36     4217737
37    12801989
38     1059361
39     5148714
40      884659
41     6829174
42    28995881
43     3205958
44      623989
45     8535519
46     7614893
47     1792147
48     5822434
49      578759
50      705749
Name: Poblacion, dtype: int64

In [47]:
info.to_csv('../../data/google/info_estados_clear.csv.gz',compression='gzip',index=False)