In [2]:
import pandas as pd 
import os
import json
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [2]:

# Ruta al archivo Parquet
ruta_parquet = '../Datasets/Yelp/user-001.parquet'

# Utiliza pandas para leer el archivo Parquet
df = pd.read_parquet(ruta_parquet)

In [3]:
reviews_ft = pd.read_csv('../Datasets/Yelp/reviews_ft.csv')

In [4]:
df

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0

In [5]:
reviews_ft

,Unnamed: 0.1,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,476,476,zKZAppIn3yZVp7sTw-8ZLw,au30JemWvCjjTp5vWdOLow,Gw7UW0E2BguzL9suQnwDeg,5,2,0,1,One of the best burgers in Philly!\n\nLow key ...,2017-08-28 23:42:14
1,482,482,wR6Bl-Vywqd56UaogCcWNg,_mLEJyBITb35hF-av1Q09Q,rQW9iupvhk6ScPn2VPNLVQ,5,2,0,2,After trying twice unsuccessfully to get there...,2016-10-26 15:50:57
2,927,927,lqEa3ctJXMfAlA6RPiGrPA,NPlCYdlumqM_Qgsi3Z_zaQ,dERS4qwl9v-Gwft-Ug8APA,4,0,0,0,West Ave. Grill- Its a happy place in Jenkinto...,2011-06-29 14:38:42
3,988,988,zQ-WQotzv7NtuKxfMfpDKQ,PAB1PweErWD3J82ccNRvdg,ONKvCIc4eIXG3nutUAFe3w,2,1,0,0,Pulled pork sandwich was Delicious .. BUT! The...,2013-09-04 01:30:09
4,1020,1020,QyvqHQzpNS1Zdiy88BIb3w,YHzVud8gFNn1MLAKsek_Iw,dfKF-oAUf3yjnD0WBYDyZQ,5,0,0,0,We tried these at the Collingswood Art Festiva...,2013-08-18 17:41:05
...,...,...,...,...,...,...,...,...,...,...,...
60216,6989669,6989669,W0G6HDShaInBoGJayleAbQ,9LqlaPN7xCL4q6SKibXd6A,1OfhM-ZKvcpxyxptCCzEwA,5,2,1,1,This place is a home run with super cheap happ...,2017-06-12 21:24:44
60217,6989909,6989909,afEys2XQxx_IjfwoNcSqkA,ZVn0zD_GxUHNQjfVLZAMtQ,1OfhM-ZKvcpxyxptCCzEwA,5,2,2,1,"Came on busy 4th of July late afternoon, event...",2015-07-06 05:00:08
60218,6990005,6990005,VkXr54yJMN4Qu4dRznAN8Q,4jEdEPDNAAa3aS7rYhQ60w,MK0OMY_u9unl8xSqjPLtMw,5,3,0,0,"ALWAYS love this place! And it's always busy, ...",2020-01-17 20:58:05
60219,6990084,6990084,vyKPnyBiqlT8fzMOuD7PtQ,QD-Qmn5s0OZJ8uwcUmABrA,c6RWw740cIB9-efs9tSLyg,5,5,1,2,Small authentic Mexican restaurant. Very frien...,2019-07-12 17:23:18
60220,6990179,6990179,Ar8boVUA9E_uJuHPYCyZFQ,QCttX6eOgAzrINS70CuDIg,D4Uw7MZVGd4QLZF_dxk-Pw,5,0,0,0,I didn't care for it at all! Ha ha look at my ...,2021-12-21 22:25:56

In [9]:
user_ft = df[df['user_id'].isin(reviews_ft['user_id'])]

In [8]:
business_ft = pd.read_csv('../Datasets/Yelp/business_FT.csv')

In [11]:
user_ft = pd.read_csv('../Datasets/Yelp/user_ft.csv')

In [11]:
user_ft.to_csv('../Datasets/Yelp/user_ft.csv', index=False)

In [15]:
reviews_ft = pd.read_csv('../Datasets/Yelp/reviews_ft.csv')

In [16]:
reviews_ft.to_csv('../Datasets/Yelp/reviews_ft.csv', index=False)

In [6]:
business_FT = pd.read_csv('../Datasets/Yelp/business_FT.csv')

In [18]:
business_FT.to_csv('../Datasets/Yelp/business_FT.csv')

In [4]:
tip = pd.read_json('../Datasets/Yelp/tip.json', lines=True, orient='records', encoding='utf-8')

In [10]:
tip[tip['business_id'].isin(business_ft['business_id'])]

,user_id,business_id,text,date,compliment_count
62,BDOCu_rbF75vMK0stzxqkg,RiB0e4L-Gx3BJ5qlsa1ZIw,Great market! Beautiful location and easy park...,2017-10-01 14:42:06,0
573,86Mv16c6S9NFMEWgj_0qsg,MK0OMY_u9unl8xSqjPLtMw,Great place!,2014-03-17 19:30:57,0
611,dOb9TFtmwlB7eLCLtlC-fQ,A1suinq7EcpyM06JIe7iOA,Flying pig,2018-03-24 02:24:30,0
643,nl3bDwEL0bd3zya94OWH6A,MnxMt3CErrx4dXll4ADqLg,OMG.,2011-07-13 15:26:47,0
697,TiZBATmJUCYpyvVKbWdYSA,dfKF-oAUf3yjnD0WBYDyZQ,Like it! Especially now...I feel so hungry..bu...,2014-08-29 17:31:46,0
...,...,...,...,...,...
908505,b9kRJ-BW3X0TFFt06Za_Dw,JiBxL733qjm8WAddu-RzDQ,The Uni and oysters are amazing!,2019-07-07 21:13:52,0
908555,SbuPacsdOmtLzPz6h0QF8Q,wqExA80UeX8ZNoFRhs4A4w,.,2021-09-14 03:46:43,0
908761,3nVh-BD1arErB6_xdc50wQ,I_3LMZ_1m2mzR0oLIOePIg,Get the chicken and brisket a must try!,2013-05-05 01:47:03,0
908785,nV5mtqwWcirauUNsdKKJWQ,ckE45_JrmPgJ-DKYbV6IwA,Great hot dogs,2020-06-19 13:52:27,0
908819,-czIXR8LOyeQBwctC1JmZQ,I_3LMZ_1m2mzR0oLIOePIg,best bbq in town!!,2019-04-28 14:18:18,0

In [13]:
tip[tip['user_id'].isin(user_ft['user_id'])]

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
6,SMGAlRjyfuYu-c-22zIyOg,kH-0iXqkL7b8UXNpguBMKg,"Saturday, Dec 7th 2013, ride Patco's Silver Sl...",2013-12-03 23:42:15,0
7,YVBB9g23nuVJ0u44zK0pSA,jtri188kuhe_AuEOJ51U_A,This is probably the best place in the cool Sp...,2016-11-22 22:14:58,0
...,...,...,...,...,...
908652,QiTDKgcxVvrz7pDr_RZj7A,s7Y7ssmJEHh-vHkKX-q_Eg,Some of the best IPAs in STL.,2019-12-20 18:45:06,0
908713,6RgZkRimG--Mx5B-DbzX7A,IpoUu-oHFFN8S9A1iUY2XA,Love their poke bowl!,2022-01-07 14:39:14,0
908719,8TRbpFplrPDGeIwRUg0dIw,Q9NneDDl9zoPp4bCDK79Ug,Open 24/7 and the newest/cleanest around Nashv...,2018-05-06 05:27:44,0
908785,nV5mtqwWcirauUNsdKKJWQ,ckE45_JrmPgJ-DKYbV6IwA,Great hot dogs,2020-06-19 13:52:27,0
908797,vUZz4qse2KQS9g8ux2ZIug,R_eXVjWKjlrf_HjJpmFmdg,The carnitas were dry and bland... the chips a...,2021-09-18 21:02:17,0

In [15]:
tip_ft = tip[(tip['business_id'].isin(business_ft['business_id']))&(tip['user_id'].isin(user_ft['user_id']))]

In [16]:
tip_ft.to_csv('../Datasets/Yelp/tip_ft.csv', index=False)

In [17]:
checkin_ft = pd.read_json('../Datasets/Yelp/checkin.json', lines=True, orient='records', encoding='utf-8')

In [22]:
checkin_ft = checkin_ft[checkin_ft['business_id'].isin(business_ft['business_id'])]

In [23]:
checkin_ft.to_csv('../Datasets/Yelp/checkin_ft.csv', index=False)