In [104]:
import pandas as pd
import os

In [11]:
metadata = pd.read_csv('../../data/google/metadata.csv.gz')

In [12]:
metadata

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url,category2
0,Maverik Adventure's First Stop,"Maverik Adventure's First Stop, 3330 S 500 W, ...",0x87528bb7ab938cb3:0x5ee996e34cc50715,NaN,40.698585,-111.906406,['Fuel supplier' 'Convenience store' 'Fast foo...,3.4,5,NaN,"[array(['Thursday', 'Open 24 hours'], dtype=ob...",{'Accessibility': array(['Wheelchair accessibl...,Open 24 hours,NaN,https://www.google.com/maps/place//data=!4m2!3...,['Fuel supplier' 'Convenience store' 'Fast foo...
1,Pop's Express OB,"Pop's Express OB, 10047 MS-178, Olive Branch, ...",0x887f93d5418166af:0xbbce72cb50342df1,NaN,34.949467,-89.812309,['Fast food restaurant' 'Beer store' 'Convenie...,4.4,25,NaN,"[array(['Thursday', '6AM–10PM'], dtype=object)...","{'Accessibility': None, 'Activities': None, 'A...",Permanently closed,['0x887f91e2983ef1db:0xe7667f8770e744de'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Fast food restaurant' 'Beer store' 'Convenie...
2,Dunkin',"Dunkin', 4008 Bell Blvd, Queens, NY 11361",0x89c261f60bdf13db:0x38da730e4687a97b,Long-running chain serving signature breakfast...,40.763985,-73.771430,['Coffee shop' 'Bagel shop' 'Bakery' 'Breakfas...,3.5,8,$,"[array(['Thursday', '6AM–7PM'], dtype=object)\...",{'Accessibility': array(['Wheelchair accessibl...,Open ⋅ Closes 7PM,['0x89c3ab9229879ec3:0x3f4b2b46d7d2c503'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Coffee shop' 'Bagel shop' 'Bakery' 'Breakfas...
3,Cowboy Burgers & BBQ,"Cowboy Burgers & BBQ, 13101 Ramona Blvd, Baldw...",0x80c2d765f8c90a3d:0x16afb75943e7ad50,"American grub such as BBQ ribs, hamburgers, sa...",34.079995,-117.988951,['Hamburger restaurant' 'American restaurant' ...,3.7,38,NaN,"[array(['Thursday', '6AM–9PM'], dtype=object)\...",{'Accessibility': array(['Wheelchair accessibl...,Closed ⋅ Opens 6AM,['0x80c2d765f8dd4ebf:0xb6baf31e3e536ffa'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Hamburger restaurant' 'American restaurant' ...
4,Kennedy's Chicken & Sandwiches,"Kennedy's Chicken & Sandwiches, 495 E 138th St...",0x89c2f5c3caef3fb5:0xb7f855503b4bc974,NaN,40.808010,-73.919617,['Fast food restaurant'],3.7,8,NaN,"[array(['Thursday', '8AM–3AM'], dtype=object)\...","{'Accessibility': None, 'Activities': None, 'A...",Closed ⋅ Opens 8AM,['0x89c2f5cfbcdeb7c1:0x1c3c27e3a6bcdab6'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Fast food restaurant']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28682,Agua Pura & Snack's,"Agua Pura & Snack's, 13669 Manning Ave #106, P...",0x8094fb3d40ce4ad9:0xfb24e5d4fb2159ce,NaN,36.604000,-119.546084,['Fast food restaurant' 'Crêperie' 'Ice cream ...,4.4,28,NaN,"[array(['Saturday', '12–6PM'], dtype=object)\n...",{'Accessibility': array(['Wheelchair accessibl...,Closed ⋅ Opens 12PM,['0x8094fb22b42ca4bf:0x11ae3f6f770b7629'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Fast food restaurant' 'Crêperie' 'Ice cream ...
28683,Subway,"Subway, 620 N Cedar St Suite B, Mason, MI 48854",0x8822c54163af5d89:0x74cc4e15b662c024,Casual counter-serve chain for build-your-own ...,42.588522,-84.455860,['Sandwich shop' 'Caterer' 'Fast food restaura...,3.9,135,$,"[array(['Saturday', '9AM–10PM'], dtype=object)...",{'Accessibility': array(['Wheelchair accessibl...,Open ⋅ Closes 10PM,['0x8822c541869b557b:0xd0023a2aa6554a22'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Sandwich shop' 'Caterer' 'Fast food restaura...
28684,Bojangles,"Bojangles, 501 S College St, Charlotte, NC 28202",0x8856a028f0b0a1e7:0x7ff78df2deab30,Southern-inspired fast-food chain known for Ca...,35.221936,-80.844894,['Restaurant' 'American restaurant' 'Chicken r...,3.6,98,$,NaN,{'Accessibility': array(['Wheelchair accessibl...,NaN,['0x88569f8ca01bc765:0xcdf7776ade3dfdba'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Restaurant' 'American restaurant' 'Chicken r...
28685,Little Caesars Pizza,"Little Caesars Pizza, 12040 Socorro Rd, San El...",0x86e7696ade0214c1:0x631386df8249de6d,"Carry-out chain featuring chicken wings, signa...",31.597720,-106.274376,['Pizza restaurant' 'American restaurant' 'Chi...,3.9,208,$,"[array(['Saturday', '10AM–11PM'], dtype=object...",{'Accessibility': array(['Wheelchair accessibl...,Open ⋅ Closes 11PM,['0x86e7696ca5f38ce5:0xbafc5a84d1546b94'\n '0x...,https://www.google.com/maps/place//data=!4m2!3...,['Pizza restaurant' 'American restaurant' 'Chi...
28686,Burger King,"Burger King, 12121 Eastlake Blvd, El Paso, TX ...",0x86e743d4094cc0cb:0xba93b4e8ccb813cc,NaN,31.687700,-106.265648,['Fast food restaurant'],3.7,16,NaN,NaN,{'Accessibility': array(['Wheelchair accessibl...,Open now,NaN,https://www.google.com/maps/place//data=!4m2!3...,['Fast food restaurant']

In [13]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28687 entries, 0 to 28686
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              28687 non-null  object
 1   address           28658 non-null  object
 2   gmap_id           28687 non-null  object
 3   description       23681 non-null  object
 4   latitude          28687 non-null  float64
 5   longitude         28687 non-null  float64
 6   category          28687 non-null  object
 7   avg_rating        28687 non-null  float64
 8   num_of_reviews    28687 non-null  int64
 9   price             24175 non-null  object
 10  hours             26479 non-null  object
 11  MISC              28647 non-null  object
 12  state             26543 non-null  object
 13  relative_results  25191 non-null  object
 14  url               28687 non-null  object
 15  category2         28687 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 3.5+ MB

In [14]:
metadata[metadata.duplicated()] #No posee duplicados

Empty DataFrame
Columns: [name, address, gmap_id, description, latitude, longitude, category, avg_rating, num_of_reviews, price, hours, MISC, state, relative_results, url, category2]
Index: []

In [15]:
columnas_a_eliminar = ['description', 'category', 'url',
       'category2', 'price', 'relative_results', 'hours', 'MISC']

metadata = metadata.drop(columnas_a_eliminar, axis=1)

In [16]:
metadata

,name,address,gmap_id,latitude,longitude,avg_rating,num_of_reviews,state
0,Maverik Adventure's First Stop,"Maverik Adventure's First Stop, 3330 S 500 W, ...",0x87528bb7ab938cb3:0x5ee996e34cc50715,40.698585,-111.906406,3.4,5,Open 24 hours
1,Pop's Express OB,"Pop's Express OB, 10047 MS-178, Olive Branch, ...",0x887f93d5418166af:0xbbce72cb50342df1,34.949467,-89.812309,4.4,25,Permanently closed
2,Dunkin',"Dunkin', 4008 Bell Blvd, Queens, NY 11361",0x89c261f60bdf13db:0x38da730e4687a97b,40.763985,-73.771430,3.5,8,Open ⋅ Closes 7PM
3,Cowboy Burgers & BBQ,"Cowboy Burgers & BBQ, 13101 Ramona Blvd, Baldw...",0x80c2d765f8c90a3d:0x16afb75943e7ad50,34.079995,-117.988951,3.7,38,Closed ⋅ Opens 6AM
4,Kennedy's Chicken & Sandwiches,"Kennedy's Chicken & Sandwiches, 495 E 138th St...",0x89c2f5c3caef3fb5:0xb7f855503b4bc974,40.808010,-73.919617,3.7,8,Closed ⋅ Opens 8AM
...,...,...,...,...,...,...,...,...
28682,Agua Pura & Snack's,"Agua Pura & Snack's, 13669 Manning Ave #106, P...",0x8094fb3d40ce4ad9:0xfb24e5d4fb2159ce,36.604000,-119.546084,4.4,28,Closed ⋅ Opens 12PM
28683,Subway,"Subway, 620 N Cedar St Suite B, Mason, MI 48854",0x8822c54163af5d89:0x74cc4e15b662c024,42.588522,-84.455860,3.9,135,Open ⋅ Closes 10PM
28684,Bojangles,"Bojangles, 501 S College St, Charlotte, NC 28202",0x8856a028f0b0a1e7:0x7ff78df2deab30,35.221936,-80.844894,3.6,98,NaN
28685,Little Caesars Pizza,"Little Caesars Pizza, 12040 Socorro Rd, San El...",0x86e7696ade0214c1:0x631386df8249de6d,31.597720,-106.274376,3.9,208,Open ⋅ Closes 11PM
28686,Burger King,"Burger King, 12121 Eastlake Blvd, El Paso, TX ...",0x86e743d4094cc0cb:0xba93b4e8ccb813cc,31.687700,-106.265648,3.7,16,Open now

In [17]:
def categorizar_estado(x):
    if 'Permanently closed' in str(x):
        return 'Closed'
    elif 'Temporarily closed' in str(x):
        return 'Temporarily closed'
    else:
        return 'Open'

metadata['state'] = metadata['state'].apply(categorizar_estado)

In [18]:
metadata

,name,address,gmap_id,latitude,longitude,avg_rating,num_of_reviews,state
0,Maverik Adventure's First Stop,"Maverik Adventure's First Stop, 3330 S 500 W, ...",0x87528bb7ab938cb3:0x5ee996e34cc50715,40.698585,-111.906406,3.4,5,Open
1,Pop's Express OB,"Pop's Express OB, 10047 MS-178, Olive Branch, ...",0x887f93d5418166af:0xbbce72cb50342df1,34.949467,-89.812309,4.4,25,Closed
2,Dunkin',"Dunkin', 4008 Bell Blvd, Queens, NY 11361",0x89c261f60bdf13db:0x38da730e4687a97b,40.763985,-73.771430,3.5,8,Open
3,Cowboy Burgers & BBQ,"Cowboy Burgers & BBQ, 13101 Ramona Blvd, Baldw...",0x80c2d765f8c90a3d:0x16afb75943e7ad50,34.079995,-117.988951,3.7,38,Open
4,Kennedy's Chicken & Sandwiches,"Kennedy's Chicken & Sandwiches, 495 E 138th St...",0x89c2f5c3caef3fb5:0xb7f855503b4bc974,40.808010,-73.919617,3.7,8,Open
...,...,...,...,...,...,...,...,...
28682,Agua Pura & Snack's,"Agua Pura & Snack's, 13669 Manning Ave #106, P...",0x8094fb3d40ce4ad9:0xfb24e5d4fb2159ce,36.604000,-119.546084,4.4,28,Open
28683,Subway,"Subway, 620 N Cedar St Suite B, Mason, MI 48854",0x8822c54163af5d89:0x74cc4e15b662c024,42.588522,-84.455860,3.9,135,Open
28684,Bojangles,"Bojangles, 501 S College St, Charlotte, NC 28202",0x8856a028f0b0a1e7:0x7ff78df2deab30,35.221936,-80.844894,3.6,98,Open
28685,Little Caesars Pizza,"Little Caesars Pizza, 12040 Socorro Rd, San El...",0x86e7696ade0214c1:0x631386df8249de6d,31.597720,-106.274376,3.9,208,Open
28686,Burger King,"Burger King, 12121 Eastlake Blvd, El Paso, TX ...",0x86e743d4094cc0cb:0xba93b4e8ccb813cc,31.687700,-106.265648,3.7,16,Open

In [19]:
metadata = metadata.rename(columns={
    'name': 'Nombre',
    'address': 'Direccion',
    'gmap_id': 'Gmap_id',
    'latitude': 'Latitud',
    'longitude': 'Longitud',
    'avg_rating': 'Promedio_rating',
    'num_of_reviews': 'Cantidad_Reviews',
    'state' : 'Estado'

})

In [20]:
metadata

,Nombre,Direccion,Gmap_id,Latitud,Longitud,Promedio_rating,Cantidad_Reviews,Estado
0,Maverik Adventure's First Stop,"Maverik Adventure's First Stop, 3330 S 500 W, ...",0x87528bb7ab938cb3:0x5ee996e34cc50715,40.698585,-111.906406,3.4,5,Open
1,Pop's Express OB,"Pop's Express OB, 10047 MS-178, Olive Branch, ...",0x887f93d5418166af:0xbbce72cb50342df1,34.949467,-89.812309,4.4,25,Closed
2,Dunkin',"Dunkin', 4008 Bell Blvd, Queens, NY 11361",0x89c261f60bdf13db:0x38da730e4687a97b,40.763985,-73.771430,3.5,8,Open
3,Cowboy Burgers & BBQ,"Cowboy Burgers & BBQ, 13101 Ramona Blvd, Baldw...",0x80c2d765f8c90a3d:0x16afb75943e7ad50,34.079995,-117.988951,3.7,38,Open
4,Kennedy's Chicken & Sandwiches,"Kennedy's Chicken & Sandwiches, 495 E 138th St...",0x89c2f5c3caef3fb5:0xb7f855503b4bc974,40.808010,-73.919617,3.7,8,Open
...,...,...,...,...,...,...,...,...
28682,Agua Pura & Snack's,"Agua Pura & Snack's, 13669 Manning Ave #106, P...",0x8094fb3d40ce4ad9:0xfb24e5d4fb2159ce,36.604000,-119.546084,4.4,28,Open
28683,Subway,"Subway, 620 N Cedar St Suite B, Mason, MI 48854",0x8822c54163af5d89:0x74cc4e15b662c024,42.588522,-84.455860,3.9,135,Open
28684,Bojangles,"Bojangles, 501 S College St, Charlotte, NC 28202",0x8856a028f0b0a1e7:0x7ff78df2deab30,35.221936,-80.844894,3.6,98,Open
28685,Little Caesars Pizza,"Little Caesars Pizza, 12040 Socorro Rd, San El...",0x86e7696ade0214c1:0x631386df8249de6d,31.597720,-106.274376,3.9,208,Open
28686,Burger King,"Burger King, 12121 Eastlake Blvd, El Paso, TX ...",0x86e743d4094cc0cb:0xba93b4e8ccb813cc,31.687700,-106.265648,3.7,16,Open

### estados

In [115]:
path_estados = os.path.join('../..','data','google','estados_concatenados.csv.gz')
estados = pd.read_csv(path_estados)

**Desempaquetar respuestas**

En esta sección convertiremos la columna respuesta en el formato apropiado para desempaquetar la información

In [116]:
import ast

def convertir_a_diccionario(texto):
    try:
        # Utilizar ast.literal_eval para convertir el texto en un diccionario
        return ast.literal_eval(texto)
    except (SyntaxError, ValueError):
        # Si hay un error al evaluar el texto, devolver un diccionario vacío
        return {}


estados['resp'] = pd.Series(estados['resp']).apply(lambda x:  convertir_a_diccionario(x))

La columna **resp** contiene un diccionario con la fecha y un texto de respuesta que una empresa ha contestado a un cliente. A continuación vamos a desempaquetar este diccionario para transformarlo en dos columnas llamadas resp_time y resp_text.

In [117]:

def obtener_resp_time(diccionario):
    return diccionario.get('time', None)

# Función para obtener el valor de 'text' de un diccionario
def obtener_resp_text(diccionario):
    return diccionario.get('text', None)

estados = pd.concat([estados.drop('resp', axis=1),
                    pd.Series(estados['resp'].apply(lambda x: obtener_resp_time(x)), name='resp_time'),
                    pd.Series(estados['resp'].apply(lambda x: obtener_resp_text(x)), name='resp_text')],
                    axis=1)

In [118]:
estados.drop(columns='pics',inplace=True)

**Converción de fechas**

La columan time contiene fechas en formato unix, a continuación vamos a transformar esta fecha en formato año mes dia.

In [107]:
from datetime import datetime

def convertir_fecha(x):
  if x!=0:
    timestamp_unix = x/ 1000  # Dividir por 1000 para convertir de milisegundos a segundos
    fecha = datetime.utcfromtimestamp(timestamp_unix)
    return(fecha.strftime('%Y-%m-%d %H:%M:%S'))
  else:
    return(None)

In [119]:
estados

,user_id,name,time,rating,text,gmap_id,nombre_estado,resp_time,resp_text
0,1.064184e+20,Zipperand Stitch,1630361012730,3,"Food is good, but I really wish dine is was op...",0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,NaN,None
1,1.125366e+20,Chris Clark,1629164676460,3,Food is pretty good but if I order 30 minutes ...,0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,NaN,None
2,1.181066e+20,Thomas Landers,1629601310752,5,One of the best Taco Bell’s I have been too. H...,0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,NaN,None
3,1.059758e+20,M.G. Sturm,1628951171309,1,"Tried get breakfast this Saturday, no one answ...",0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,NaN,None
4,1.089426e+20,Deborah pellem,1630122600565,5,This is a new one and it's close to home!❤️❤️,0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,NaN,None
...,...,...,...,...,...,...,...,...,...
2840174,1.066896e+20,Nancy Schaffer,1512010443190,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,NaN,None
2840175,1.019377e+20,Mackenzie Mayer,1530321971461,2,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,NaN,None
2840176,1.087467e+20,Walter Orum,1491401520613,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,NaN,None
2840177,1.124218e+20,Charissa Carver,1556229091462,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,NaN,None
2840178,1.022410e+20,Scotty Bosworth,1621204235473,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,NaN,None

In [120]:
estados['fecha'] = estados['time'].apply(convertir_fecha)
estados['resp_fecha'] = estados['resp_time'].fillna(0).apply(convertir_fecha)
estados.drop(columns=['time','resp_time'],inplace=True)

In [121]:
estados['fecha_anho_mes'] = pd.to_datetime(estados['fecha']).dt.date
estados['anho'] = pd.to_datetime(estados['fecha']).dt.year

In [124]:
estados

,user_id,name,rating,text,gmap_id,nombre_estado,resp_text,fecha,resp_fecha,fecha_anho_mes,anho
0,1.064184e+20,Zipperand Stitch,3,"Food is good, but I really wish dine is was op...",0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,None,2021-08-30 22:03:32,None,2021-08-30,2021
1,1.125366e+20,Chris Clark,3,Food is pretty good but if I order 30 minutes ...,0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,None,2021-08-17 01:44:36,None,2021-08-17,2021
2,1.181066e+20,Thomas Landers,5,One of the best Taco Bell’s I have been too. H...,0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,None,2021-08-22 03:01:50,None,2021-08-22,2021
3,1.059758e+20,M.G. Sturm,1,"Tried get breakfast this Saturday, no one answ...",0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,None,2021-08-14 14:26:11,None,2021-08-14,2021
4,1.089426e+20,Deborah pellem,5,This is a new one and it's close to home!❤️❤️,0x886243f0a950225d:0x1368e71fd73bd654,Alabama_reviews,None,2021-08-28 03:50:00,None,2021-08-28,2021
...,...,...,...,...,...,...,...,...,...,...,...
2840174,1.066896e+20,Nancy Schaffer,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,None,2017-11-30 02:54:03,None,2017-11-30,2017
2840175,1.019377e+20,Mackenzie Mayer,2,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,None,2018-06-30 01:26:11,None,2018-06-30,2018
2840176,1.087467e+20,Walter Orum,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,None,2017-04-05 14:12:00,None,2017-04-05,2017
2840177,1.124218e+20,Charissa Carver,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,None,2019-04-25 21:51:31,None,2019-04-25,2019
2840178,1.022410e+20,Scotty Bosworth,5,NaN,0x5335fac0b65b4243:0x78f735c40c344b01,Wyoming_reviews,None,2021-05-16 22:30:35,None,2021-05-16,2021

In [91]:
# estados = pd.read_csv('../../data/google/estados.csv.gz')

In [127]:
def respuesta_tranformacion(x):
  if str(x) == 'nan':
    return(0)
  else:
    return(1)

In [126]:
estados['resp_text'] = estados['resp_text'].apply(respuesta_tranformacion)

## Analisis de sentimiento

In [129]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Descarga el paquete necesario para VADER
nltk.download('vader_lexicon')

# Crea una instancia del analizador de sentimientos VADER
sid = SentimentIntensityAnalyzer()

# Supongamos que df es tu DataFrame con la columna 'text'
# Puedes ajustar la lambda function según tus necesidades específicas
estados['sentiment'] = estados['text'].apply(lambda x: sid.polarity_scores(str(x))['compound'])

# Asigna valores numéricos según el análisis de sentimiento
estados['sentiment_numeric'] = estados['sentiment'].apply(lambda x: 2 if x > 0.05 else (1 if -0.05 <= x <= 0.05 else 0))

[nltk_data] Downloading package vader_lexicon to /home/pc/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [143]:
estados.drop(columns=['text','sentiment','fecha','resp_fecha'],inplace=True)

In [153]:
estados['nombre_estado'] = estados['nombre_estado'].apply(lambda x : x[:-8])

In [155]:
estados.to_csv('../../data/google/estados.csv.gz')