In [1]:
import pandas as pd 
import os
import json
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import pickle

In [2]:
path_business = os.path.join('.','data','business.csv')
business = pd.read_csv (path_business)

# CHECKIN

In [4]:
checkin_ft = pd.read_json('./Datasets/Yelp/checkin.json', lines=True, orient='records', encoding='utf-8')

In [5]:
checkin = checkin_ft[checkin_ft['business_id'].isin(business['business_id'])]

In [6]:
checkin

,business_id,date
27,--lqIzK-ZVTtgwiQM63XgQ,"2011-07-29 16:37:02, 2011-10-24 16:00:29, 2012..."
68,-0m4IwD1FIOqkA8dh4mVfQ,"2018-05-07 02:19:25, 2018-06-18 17:23:51, 2018..."
96,-1iLbEf1NwY-OJp5Hg-3Sg,"2017-06-08 00:58:45, 2019-09-01 00:26:05"
98,-1owBLC2h6DF5n_j77oq3g,2013-11-01 17:50:33
100,-1q9ktAQXpgFSNrst7tzag,"2012-03-02 00:15:00, 2012-03-22 16:19:15, 2012..."
...,...,...
131776,zvB14002Qi0qZ_DH_DfpLg,"2015-01-14 23:30:12, 2015-01-30 20:02:07, 2015..."
131793,zvlJoRJfViu-_dZflUn6Bw,"2011-11-21 13:53:26, 2012-03-08 17:29:12, 2012..."
131803,zw7yspkw0kygt-dauP3_4g,"2015-01-15 00:19:20, 2015-02-14 17:24:40, 2018..."
131843,zx7XemDyT296vmKnFtZSyQ,"2019-08-10 19:41:36, 2019-08-12 18:00:40, 2019..."
131846,zxJfzu6Hy4E5bjP9fzh93g,"2011-08-20 19:03:04, 2015-10-01 13:00:37, 2016..."

In [7]:
path_checkin = os.path.join('.','csv','checkin.csv')
checkin.to_csv(path_checkin, index=False)