In [2]:
import pandas as pd 
import os
import json
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import pickle

<div style="text-align:center;">
  <img src="../../images/DER.png" alt="DER" width="800" height="500">
</div>

## Extracción

In [ ]:
reviews = pd.read_csv('./Datasets/Yelp/review-002.csv')

In [ ]:
reviews.sample(2)

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
2124494,2124494,FMvKlH7Xm6eKiwpkp5FPhw,xJ6HoOEq1IvJXuHnMPA_ew,ZdkonZFKPrGVeu-ZLQfE6A,3,1,0,0,While this should probably be good or great th...,2021-03-21 17:24:58
4078080,4078080,U2GTcWdz5LdkykmdDnr53Q,X2Y8dvYme9vtcbjrIrcwIg,YzVm2QUvNwZ2cXwTczvCnw,1,6,0,1,This is a review I started to post the first w...,2020-07-25 20:33:59

In [ ]:
path_business = os.path.join('..','..','data','yelp','business.csv.gz')
business = pd.read_csv(path_business)

## Transformación

In [ ]:
reviews = reviews[reviews['business_id'].isin(business['business_id'])]

In [ ]:
reviews

## Carga

In [7]:
reviews_path = os.path.join('..','..','data','yelp','reviews.csv.gz')
reviews.to_csv(reviews_path,index=False, compression='gzip')